.form-body{
	text-align: left;
	/*height: 90vh;*/
}
.form-body .ant-descriptions-row{
	background-color: white;
}

.form-body .description_img{
    width: 100%;
}

.form-body .description_img div.ant-carousel div.slick-slider.slick-initialized div.slick-list div.slick-track div.slick-slide div div.ant-card.ant-card-bordered.ant-card-hoverable div.ant-card-cover img{
	width:100%;
    height: 400px;
}

.form-body .detail{
	display: inline-block;
	margin-right: 5px;
}
.form-body .detail:not(:last-of-type):after {
  content: ",";
}

.sec-title{
	text-align: center;
}

