.nav-title {
    color: 'white';
    text-align: left;
}

.logo {
    width: 200px;
    height: 31px;
    margin: auto;
    margin-left: -50px;
    float: left;
    text-align: center;
    font-size: medium;
}

.searchbox {
    float: right;
    padding-top: -20px;
    position: absolute;
    -ms-transform: translateY(-15%);
    transform: translateY(-15%);

}

.avatar {
    float: right;
    padding-top: 10px;
    position: absolute;
    -ms-transform: translateY(-20%);
    transform: translateY(-15%);

}

.ant-menu.ant-menu-dark .ant-menu-item-selected.searchbox {
    background-color: black;
}

.ant-menu.ant-menu-dark .ant-menu-item-selected.avatar {
    background-color: black;
}

#components-dropdown-demo-placement .ant-btn {
    margin-right: 8px;
    margin-bottom: 8px;
}
.ant-row-rtl #components-dropdown-demo-placement .ant-btn {
    margin-right: 0;
    margin-bottom: 8px;
    margin-left: 8px;
}
