.inline{
	display: flex;
}

.inline >*{
	display: flex;
}

.form-body{
	text-align: center;
	padding: 25px;
	background-color: #ececec;
}

.sec-title {
	font-size: 32px;

}

.subsec-title{
	font-size: 24px;
	font-style: italic;
}

div.ant-form-item-control:nth-child(1) > div:nth-child(1) > div:nth-child(1) > button{
	margin: 20px;

	width:120px;
	height: 40px;
	border-radius: 4px;
}
.ant-form-item-label{
	text-align: left;
}